 /* * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .login-form {
    margin: auto;
    width: 15em;
  }
  
  .login-form input[type="text"] {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
  }
  
  .login-form input[type="text"]:focus {
    background: #d8f3df;
    border-color: #2ddf5c;
  }
  
  .login-form input[type="submit"] {
    background: #0e4f1f;
    color: white;
    border: 1.5px solid #0e4f1f;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
  }
  
  .login-form input[type="submit"]:hover,
  .login-form input[type="submit"]:active {
    background: white;
    color: #0e4f1f;
    font-family: inherit;
  }
  
  .login-form input:invalid:focus {
    border: 1px solid red;
    background: rgb(250, 172, 172);
  }
  
  .login-form label {
    font-weight: bold;
  }
  
  .login-form label,
  .login-form input {
    display: block;
    margin-top: 1.56rem;
    width: 100%;
  }
  
  .main-login__title {
    text-align: center;
    color: #ff5454;
    padding-top: 1.25rem;
  }
  
  .main-main {
    padding-top: 3.75rem;
  }
  
  
  
  .main-footer {
    position: fixed;
    background-color: black;
    padding: 0.31rem;
    margin-top: 1.25rem;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  
  .main-footer__enlaces {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .main_footer__enlace {
    display: inline-block;
    margin: 0 1rem
  }
  
  .main_footer__enlace a {
    color: white;
    font-size: 0.75rem;
    text-decoration: none;
  }
  
  .main_footer__enlace a:hover {
    color: red;
    font-size: 0.75rem;
    text-decoration: none;
  }
  
  .toggle-button {
    display: none;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
  }
  
  .toggle-button:hover span {
    background-color: white;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.4rem 0;
  }  */